
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    background-color: white;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #FBB403;
}

.background {
    background-image: url("images/header.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 1300px;
    margin: 0px 20px;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    padding: 20px 0px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
}

.header-center li {
    margin-left: 20px;
    text-align: center;
}

.header-right li {
    margin-left: 30px;
}

li {
    list-style: none;
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: #ffffffc4;
}

.phone {
    display: flex;
    align-items: center;
    background-color: #FBB403;
    padding: 10px;
    border-radius: 10px;
}

.menu {
    display: none;
    border-top: 1px solid white;
    background: none;
    color: white;
    cursor: pointer;
    z-index: 1000;
    margin-left: 10px;
}

.menu::after, .menu::before {
    content: "";
    width: 20px;
    height: 1px;
    margin-top: 8px;
    display: block;
    background: white;
}

.contents {
    display: flex;
    justify-content: center;
    /* margin-left: 20px; */
}

#apresentation p.up {
    width: 40%;
    color: white;
    text-align: left;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 80px; /* 65px */
    margin: 50px 0px 0px 0px;
}

#apresentation p.down {
    color: white;
    width: 30%;
    margin: 20px 0px;
}

.buttons {
    margin-bottom: 200px;
}

.button {
    background-color: #FBB403;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.buttons .button1 {
    width: 175px;
    margin-right: 10px;
}

.buttons .button2 {
    width: 175px;
    background-color: transparent;
    border: 1px solid white;
}

.transition-buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.transition-button1, .transition-button2, .transition-button3 {
    background-color: transparent;
    border: 2px solid #FBB403;
    border-radius: 10px;
    padding: 7px;
    margin-right: 5px;
    cursor: pointer;
}

.transition-button3 {
    margin: 0;
}

#about-us {
    background-image: url("images/background-about-us.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45%;
}

#about-us .container {
    display: flex;
    justify-content: flex-end;
    padding: 200px 0px;
}

#about-us .text {
    width: 50%;   
}

#service, #menu, #shop, #gallery, #testimonial, #reservation {
    margin: 150px 0px 20px 0px;
}

h2 {
    text-align: center;
    color: #FBB403;
    font-size: 16px;
}

h3 {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 45px; /* 11vw */
    margin-bottom: 25px; /* 50px */
}

#about-us h2 {
    text-align: left;
}

#about-us h3 {
    text-align: left;
}

#about-us p {
    margin-bottom: 20px;
    color: gray;
}

#service .informations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#service .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 20px 20px 20px;
    padding: 0px 20px;
    border: 3px solid #FBB403;
    border-radius: 10px;
    height: 280px;
    width: 370px;
}

#service .information:hover {
    background-color: #FBB403;
    color: white;
}

#service .information:hover h4 {
    color: white;
}

#service .information img {
    height: 60px;
    width: 60px;
}

#service .information h4 {
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    text-align: center;
}

#service .information p {
    text-align: center;
    line-height: 25px;
    color: #606060;
}

#banner {
    background-image: url("images/background_banner.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 150px 0px 150px 0px;
    padding: 65px 0px;
}

#banner .container {
    display: flex;
    justify-content: space-between;
}

#banner .banner-information {
    margin: 0px 10px;
    text-align: center;
}

#banner .banner-information:first-child {
    margin-left: 0;
}

#banner .banner-information:last-child {
    margin-right: 0;
}

.banner-information p.up {
    color: white;
    font-size: 50px;
    font-family: 'DM Serif Display', serif;
}

.banner-information p.down {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

 .box-pizzas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-pizza {
    display: flex;
    border: 1px dashed gray;
    border-radius: 20px;
    width: 560px;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.box-pizza:hover {
    background-color: rgba(231, 231, 231, 0.699);
}

.box-pizza .image {
    background-color: #FBB40326;
    border-radius: 10px;
    height: 140px;
    width: 140px;
    margin-right: 10px;
}

.box-pizza img {
    height: 100%;
}

h4 {
    font-family: 'DM Serif Display', serif;
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

.box-pizza p {
    color: #606060;
}

p.value {
    color: #FBB403;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-top: 10px;
}

#shop {
    background-image: url("images/background-shop.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#shop .container {
    padding: 80px 0px;
}

#shop h3 {
    color: white;
    margin-bottom: 20px;
}

.shop-pizzas {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* cursor: grab; */
    overflow-x: hidden;
}

.shop-pizza {
    width: auto; /* 3690px */
    display: flex;
    justify-content: center;
    margin-left: 0;
    /* flex-wrap: wrap; */
     /* -840px talvez todos sejam esse */ /* 0 */ /* 839px */ /* 1677px */ /* 2517px */
}

.arrow-left {
    background-image: url("images/arrow-left.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: -30px;
    top: 320px;
    padding: 30px;
    cursor: pointer;
    background-color: transparent;
}

.arrow-left:hover {
    background-image: url("images/arrow-left2.png");
}

.arrow-right {
    background-image: url("images/arrow-right.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 92.7%;
    top: 320px;
    padding: 30px;
    cursor: pointer;
    background-color: transparent;
}

.arrow-right:hover {
    background-image: url("images/arrow-right2.png");
}

.pizza {
    background-color: white;
    width: 370px;
    margin: 25px; /* 20px */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.pizza img {
    width: 370px; 
    height: 320px;
    border-radius: 10px;
}

.pizza button {
    box-shadow: 0px 0px 10px 1px  rgba(0, 0, 0, 0.55);
    position: relative;
    top: -30px;
}

.pizza .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.pizza p { /* Ver. Arrumar para que se tiver mais texto do que caiba, ele não quebre */
    /* height: 20%; */
    color: #606060;
    text-align: center;
}

.pizza p.value {
    font-family: 'DM Serif Display', serif;
    color: #FBB403;
    margin: 20px 0px;
}

#team {

}

.box-chefs {
    display: flex;
    justify-content: space-between;
}

.box-chef {
    width: 370px;
    /* background-color: #fbb50336; */
}

#team .information {
    background-color: #fbb5032c;
    padding: 20px;
}

#team .information:hover {
    background-color: #fbb503;
    height: 150px;
    color: white;
}

#team .information p.up {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#team .information p.down {
    text-align: center;
    font-size: 16px;
    color: gray;
}

#team .images {
    display: none;
    text-align: center;
}

.social {
    background-color: #333333;
    padding: 10px;
    border-radius: 50%;
}

.social:hover {
    background-color: white;
}

#gallery {
    background-image: url("images/background_gallery.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#gallery .container {
    padding: 100px 0px;
}

.gallery-box-grid {
    display: grid;
    grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6";
        gap: 20px;
}

.item {
    text-align: center;
}

.item:hover {
    visibility: visible;
    opacity: 20%;
    transition: opacity 1s;
}

.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}

.gallery-box-grid img {
    width: 100%;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review {
    margin: 20px;
    width: 320px;
}

.review img {
    width: 100%;
    border-radius: 10px;
}

.review .text {
    width: 100%;
}

.review h4 {
    text-align: left;
    margin-top: 20px;
}

.review p {
    text-align: left;
    color: gray;
    font-size: 18px;
    margin-bottom: 20px;
}

.review a {
    color: #FBB403;
    text-align: left;
    font-weight: bold;
}

.reservation-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reservation-box-grid {
    width: 810px;
    margin: 25px;
    display: grid;
    grid-template-areas: 
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item7";
    gap: 20px;
}

.item7 {
    grid-area: item7;
    resize: none;
}

#reservation input, #reservation select, #reservation textarea {
    width: 100%;
    border: 1px dashed #606060;
    padding: 15px;
    font-size: 18px;
}

#reservation input:last-child {
    border: 0;
}

.reservation-box-time {
    width: 440px;
    background-color: #1D1D1D;
    padding: 40px 40px;
    border-radius: 20px;
}

.reservation-box-time h3 {
    color: white;
}

.reservation-box-time .time {
    display: flex;
    justify-content: space-between;
    color: white;
}

.reservation-box-time .day {
    text-align: left;
    font-size: 19px; /* 20px */
    width: 50%;
    line-height: 50px;
}

.reservation-box-time .day p {
    border-bottom: 1px dashed gray;
}

.reservation-box-time .hour {
    text-align: right;
    font-size: 19px; /* 20px */
    width: 50%;
    line-height: 50px;
}

.reservation-box-time .hour p {
    border-bottom: 1px dashed gray;
}

.reservation-box-time .box-button {
    width: 100%;
    display: flex;
}

.reservation-box-time button {
    margin: 20px auto auto auto;
}

#news-letter {
    background-image: url("images/news-letter.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 150px 0px 0px 0px;
}

#news-letter .container {
    padding: 120px 0px;
}

#news-letter h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    color: white;
    font-size: 45px;
    text-align: left;
}

#news-letter p {
    width: 50%;
    color: white;
    font-size: 20px;
    text-align: left;
    margin: 30px 0px;
}

#news-letter input {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}

footer {
    background-color: #1D1D1D;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.footer-left {
    width: 358px;
}

.footer-left p {
    color: white;
    line-height: 30px;
    margin: 20px 0px;
    font-size: 18px;
}

footer .social:hover {
    background-color: #FBB403;
}

.footer-center {
    width: 332px;
}

.footer-center h2, .footer-right h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    text-align: left;
}

.footer-center .images {
    display: grid;
    grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6";
    gap: 10px;
    justify-content: space-between;
}

.footer-right {
    width: 281px;
}

.footer-right p {
    font-size: 18px;
    color: gray;
    line-height: 40px;
}

.footer-right strong {
    color: white;
    font-size: 20px;
}

@media (max-width: 1360px) {
    .arrow-left, .arrow-right {
        display: none;
    }

    .shop-pizzas {
        width: 95vw; /* 100vw */
        overflow-x: scroll;
        align-items: flex-start;
    }

    .shop-pizzas::-webkit-scrollbar-thumb {
        background-color: #333333;
        border-radius: 10px;
    }
    
    .shop-pizzas::-webkit-scrollbar {
        background-image: url("images/background-shop.svg");
        height: 8px;
    }

    
}

@media (max-width: 1240px) {
    .box-pizzas {
        justify-content: center;
    }
}

@media (max-width: 1045px) {
     #apresentation p.up {
        width: 50vw;
    }

    #news-letter p {
        width: 100%;
    }
    
    #news-letter input {
        width: 100%;
    }
}

@media (max-width: 925px){
    .header-center {
        display: none;
        height: 100%;
        width: 100%;
        background-color: #1D1D1D;
        /* transition: all 5s linear; */
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        font-size: 50px;
        padding-top: 10vh; /* 100px */
    }

    .header-center li {
        margin: 0;
        
    }

    .header-center a {
        color: orange; /* rgb(184, 112, 70) */
        line-height: 80px;
    }

    .header-center a:hover {
        color: white;
    }

    .menu {
        display: block;
    }

    #apresentation p.down {
        width: 50vw;
    }

    #about-us {
        background-image: url("images/background-about-us-mobile.svg");
    }

    #about-us .text {
        width: 100%;
    }

    .reservation-box-grid {
        width: 100%;
        margin: 25px 0px;
    }
}

@media (max-width: 820px) {
    #apresentation p.up {
        width: 100%;
        font-size: 12vw;
        text-align: center;
    }

    #apresentation p.down {
        width: 100%;
        text-align: center;
    }

    #apresentation .buttons {
        display: flex;
        justify-content: center;
    }

    .gallery-box-grid {
        grid-template-areas: 
            "item1 item2"
            "item3 item4"
            "item5 item6";
    }
}

@media (max-width: 725px) {
    .footer-left {
        margin-bottom: 40px;
    }

    .footer-right {
        margin-top: 40px;
    }

    .banner-information p.up {
        font-size: 7.5vw;
    }

    .banner-information p.down {
        font-size: 2.8vw;
    }
}

@media (max-width: 652px) {
    footer .container {
        justify-content: center;
    }

    .footer-left {
        width: 100%;
    }

    .footer-center {
        width: 100%;
    }

    .footer-right {
        width: 100%;
    }

    .footer-center .images {
        grid-template-areas: 
            "item1 item2 item3"
            "item4 item5 item6";
        justify-content: left;
    }
}

@media (max-width: 600px) {
    .box-pizza {
        width: 100%;
    }

    .reservation-box-grid {
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7";
    }

    .reservation-box-time {
        width: 100%;
        padding: 40px 20px;
    }

    .reservation-box-time .day {
        font-size: 4vw;
    }

    .reservation-box-time .hour {
        font-size: 4vw;
    }

    .footer-left {
        text-align: center;
    }
    .footer-center {
        text-align: center;
    }
    .footer-center h2, .footer-right h2 {
        text-align: center;
    }
    .footer-center .images {
        justify-content: center;
    }
    .footer-right {
        text-align: center;
    }
}

@media (max-width: 525px) {
    .header-right {
        display: none;
    }

    .pizza {
        width: 70vw;
    }

    .pizza img {
        width: 100%;
        height: 100%;
    }

    .pizza h4 {
        font-size: 5vw;
    }

    .pizza p {
        font-size: 3.5vw;
    }
}

@media (max-width: 430px) {
    #service .information {
        width: 100%;
        padding: 0;
    }

    #service .information h4 {
        font-size: 6vw;
    }

    #service .information p {
        font-size: 4vw;
    }

    .box-pizza .image {
        height: 30vw;
        width: 30vw;
    }

    .box-pizza h4 {
        font-size: 5vw;
    }

    .box-pizza p {
        font-size: 3vw;
    }

    .gallery-box-grid {
        grid-template-areas: 
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6";
    }

    .review {
        width: 100%;
    }

    .footer-center .images img {
        width: 100%;
    }
}

@media (max-width: 380px) {
    .button.button1 {
        width: 100%;
        font-size: 3.5vw;
    }

    .button.button2 {
        width: 100%;
        font-size: 3.5vw;
    }
}

/* criar as partes que estão faltando e deixá-las responsivas, estudar JS e deixar o botões funcionais logo em seguida */

/* place-items para centralizar um item dentro do outro */